.locate-donor-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #ef090918;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;
  }
  
  .locate-donor-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #bf0000;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  select,
  input {
    width: 95%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #bf0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #a30000;
  }
  