.register-container {
    max-width: 600px;
    margin: 1rem auto;
    padding: 1.5rem;
    padding-right: 3rem;
    background-color: #f8f9fa; /* Light gray background for better readability */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(233, 26, 26, 0.1); /* Subtle shadow for depth */
  }
  
  .register-container h2,h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #bf0000; /* Distinct red color for heading */
  }
  
  #organs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Space between items for a cleaner layout */
  }
  
  .modal-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #333; /* Neutral text color */
  }
  
  .modal-checkbox {
    accent-color: #bf0000; /* Custom styling for checkboxes */
    transform: scale(1.2); /* Larger size for better accessibility */
  }
  
  .submit-button {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.75rem;
    background-color: #bf0000; /* Primary button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color change on hover */
  }
  .submit-button-organpledge{
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.75rem;
    background-color: white; /* Primary button color */
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #a30000; /* Darker red for hover state */
  }
  .form-row{
    margin: 1rem;
  }
  